node_modules
npm-debug.log
yarn.lock
pnpm-lock.yaml
Dockerfile
.dockerignore
.git
.gitignore
.env
.env*
coverage
logs
.tmp
dist
build
**/*.tsbuildinfo
**/*.map
.vscode
.idea
**/__tests__
**/test
**/tests
